<?xml version="1.0"?>
<ruleset name="voordemensen">
	<description>Level Level ruleset</description>
	<file>./app</file>
	<file>./templates</file>
	<file>./ll-voordemensen.php</file>

	<arg name="colors"/>
	<arg value="sp"/>

	<rule ref="PHPCompatibility"/>
	<config name="testVersion" value="7.3-"/>

	<rule ref="Generic.VersionControl.GitMergeConflict"/>
	<rule ref="PSR2.Files.ClosingTag"/>
	<rule ref="Generic.CodeAnalysis.UnusedFunctionParameter"/>
	<rule ref="Generic.ControlStructures.InlineControlStructure"/>

	<rule ref="WordPress-Core">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="Generic.CodeAnalysis.UnusedFunctionParameter.FoundAfterLastUsed" />
		<exclude name="Generic.CodeAnalysis.UnusedFunctionParameter.Generic.CodeAnalysis.UnusedFunctionParameter.Found" />
		<exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="WordPress.WP.I18n.MissingTranslatorsComment" clarification="Customer will handle translations themselves" />
		<exclude name="WordPress.PHP.DisallowShortTernary.Found" />
		<exclude name="WordPress.PHP.YodaConditions.NotYoda" />
	</rule>

	<rule ref="WordPress-Extra"/>

</ruleset>
