<?xml version="1.0"?>
<ruleset name="voordemensen">
	<description>Level Level ruleset</description>
	<config name="testVersion" value="7.3-"/>
	<file>./app</file>
	<file>./templates</file>
	<file>./ll-voordemensen.php</file>

	<arg name="colors"/>
	<arg value="sp"/>

	<rule ref="LevelLevel"/>
</ruleset>
