name: Build & test

on:
  push:
    branches:
      - 'master'
      - 'main'
  pull_request_target:
    branches:
      - 'master'
      - 'main'

jobs:
  php:
    name: PHP test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.4']
        wp: ['5.9']
        mysql: ['5.7']
    services:
      mysql:
        image: mysql:${{ matrix.mysql }}
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: false
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: test
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, dom, simplexml
          tools: wp
      - uses: actions/checkout@v2
        with:
          path: wp-content/plugins/ll-voordemensen
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Debugging
        run: |
          php --version
          php -m
          composer --version
      - name: Composer build
        run: |
          cd wp-content/plugins/ll-voordemensen
          composer config --global --auth http-basic.repo.packagist.com token "${{ secrets.PRIVATE_PACKAGIST_TOKEN }}"
          composer install --prefer-dist
        env:
          PRIVATE_PACKAGIST_TOKEN: ${{ secrets.PRIVATE_PACKAGIST_TOKEN }}
      - name: test:composer
        run: |
          cd wp-content/plugins/ll-voordemensen
          composer run test:composer
      - name: test:phpcs
        run: |
          cd wp-content/plugins/ll-voordemensen
          composer run test:phpcs
      # Edit the WordPress install, activated theme and plugins for your test here.
      - name: Download & configure WP
        run: |
          wp core download --allow-root --version=${{ matrix.wp }} --skip-content
          wp config create --allow-root --dbname=test --dbuser=root --dbpass=root --dbhost=127.0.0.1
          wp config set WP_DEBUG true --allow-root
          wp core install --allow-root  --url=localhost --title=Test --admin_user=admin --admin_password=password --admin_email=admin@test.test
          wp plugin activate ll-voordemensen --allow-root
      - name: test:phpstan
        run: |
          cd wp-content/plugins/ll-voordemensen
          composer run test:phpstan
      - name: test:docs
        run: |
          cd wp-content/plugins/ll-voordemensen
          composer run test:docs
  npm-project:
    name: NPM test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['12.x']
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          path: wp-content/plugins/ll-voordemensen
          ref: ${{github.event.pull_request.head.sha}}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          always-auth: true
          node-version: ${{ matrix.node-version }}
          registry-url: https://npm.pkg.github.com
          scope: '@level-level'
      - name: Clean install dependencies
        run: |
          cd wp-content/plugins/ll-voordemensen
          npm ci
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - name: Lint
        run: |
          cd wp-content/plugins/ll-voordemensen
          npm run lint
      - name: Build
        run: |
          cd wp-content/plugins/ll-voordemensen
          npm run build
